<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Container 1-->
        <div class="light-bg card" data-comp-id="div.1" style="margin: 4%;">
            <!--User Input-->
            <div class="row calm-bg" data-comp-id="row.1" style="margin: -2px 0px 0px;">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1"
                        style="font-size: 16px; font-weight: normal; margin: 0% 0% 0% 2%;">Report details</div>
                </div>
            </div>
            <label class="item" data-comp-id="takePhoto.1"
                ng-class="{'item-input item-button-right': style === 'control'}"
                take-photo="control">
                <span class="input-label" ng-if="style === 'control'">Take Photo</span>
                <button class="button button-icon" ng-if="style === 'control'">
                    <i class="icon positive-icon ion-camera"></i>
                </button>
                <input disabled="" ng-if="style === 'control'" type="text">
                <button class="button button-block button-positive nomargin"
                    ng-if="style === 'button'">Take Photo</button>
                <textarea class="not-visible"></textarea>
            </label>
            <label class="item  item-input item-select-icon positive-icon"
                data-comp-id="selectInput.1">
                <span class="input-label">Category</span>
                <select ng-model="data.multiSelectData.selected"
                    ng-options="item as item.label for item in data.multiSelectData.options"></select>
            </label>
            <label class="item  item-input item-select-icon positive-icon"
                data-comp-id="selectInput.2">
                <span class="input-label">Severity</span>
                <select ng-model="data.severity.selected"
                    ng-options="item as item.label for item in data.severity.options"></select>
            </label>
            <label class="item  item-input item-select-icon positive-icon"
                data-comp-id="selectInput.3">
                <span class="input-label">Priority</span>
                <select ng-model="data.priority.selected"
                    ng-options="item as item.label for item in data.priority.options"></select>
            </label>
            <!--User Input-->
            <!--User Input-->
            <!--User Input-->
        </div>
        <!--Container 1-->
        <!--Form Section-->
        <include-page data-comp-id="includePage.1" name="" page-data="{}"></include-page>
        <!--Form Section-->
        <!--Container 2-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 3-->
        <div class=" card" data-comp-id="div.2" style="margin: 0% 4%; padding: 0px;"></div>
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class="light-bg card" data-comp-id="div.3"
            style="margin: 4%; padding: 0px;">
            <div class="row calm-bg" data-comp-id="row.2" style="margin: 0px;">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2" style="font-size: 16px; margin: 0% 0% 0% 2%;">Summary</div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.1"
                        style="border-bottom: 0px; margin: 2% 0% 0%; border-top: 0px;">
                        <textarea ng-model="data.summary" placeholder="Write your comments here"
                            rows="1"></textarea>
                    </label>
                </div>
            </div>
            <div class="row calm-bg" data-comp-id="row.3" style="margin: 0px;">
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.3" style="font-size: 16px; margin: 0% 0% 0% 2%;">Description</div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.2"
                        style="border-bottom: 0px; margin: 2% 0% 0%; border-top: 0px;">
                        <textarea ng-model="data.description" placeholder="Write your comments here"
                            rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4">
            <div class="col" data-comp-id="column.4">
                <button class="button button-block button-calm dark" data-comp-id="button.3"
                    ng-click="app.action('viewreportissue', 'submit', this)">Submit Report</button>
            </div>
        </div>
    </ion-content>
    <div class="row calm-bg" data-comp-id="row.5" style="margin: -2px 0px 0px;"></div>
</ion-view>